.App {
  text-align: center;
  background-image: url('./assets/todo.jpeg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.inp_field{
  width: 400px;
  border: 1px solid #c5c9c6;
  background: #dae0db;
  opacity: 0.4;
  padding: 22px 48px;
  border-radius: 6px;
  box-shadow: -3px 0px 12px -1px rgba(0,0,0,0.62);
-webkit-box-shadow: -3px 0px 12px -1px rgba(0,0,0,0.62);
-moz-box-shadow: -3px 0px 12px -1px rgba(0,0,0,0.62);
font-size: 18px;
color: #000
}
.icon_bar{
  position: absolute;
  left: 533px;
  width: 30px;
  height: 25px;
  
  margin-top: 20px;
}

.icon_arrow{
  position: absolute;
  right: 533px;
  width: 30px;
  height: 25px;
  margin-top: 20px;
}
.items {
  display: flex !important;
  justify-content: space-between;
  background-color: #ebedeb;
  width: 100px;
  margin-top: 0px;
  width: 465px;
  border-radius: 8px;
  padding: 4px 16px;
  border-bottom: 1px solid gray;
}
.items_icon{
  background-color: "#a8662c";
  color: white;
  padding: 8px;
  border-radius: '50%';
  margin-top: 16
}


